body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* margin: 0; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  height: 3000px;
  font-family: Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Video style */

.container {
  width: 50%;
  height: 100px;
  position: relative;
}
.container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-box {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 900;
  mix-blend-mode: screen;
  /* animation-name: letterSpace; */
  /* animation-duration: 1.5s;
  animation-fill-mode: forwards; */
}

.wrapperAllText {
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.w {
  display: block;
}

.o,
.r,
.k,
.s {
  letter-spacing: normal;
  position: absolute;
  left: 33px;
  animation-name: o;
  animation-duration: 1.5s;
}

.r {
  animation-name: r;
  left: 58px;
}

.k {
  animation-name: k;
  left: 75px;
}

.s {
  animation-name: s;
  left: 98px;
}

.dot {
  position: absolute;
  background-color: rgb(255, 255, 255);
  height: 38px;
  top: 0px;
  right: -103px;
  padding-right: 90px;
  animation-name: dot;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes dot {
  0% {
    padding-right: 90px;
  }
  100% {
    padding-right: 0px;
  }
}

@keyframes o {
  0% {
    left: 28px;
  }
  100% {
  }
}

@keyframes r {
  0% {
    left: 45px;
  }
  100% {
  }
}

@keyframes k {
  0% {
    left: 55px;
  }
  100% {
  }
}

@keyframes s {
  0% {
    left: 70px;
  }
  100% {
  }
}

/* Video style */

.wrapperGrid {
  display: grid;
  grid-template-areas:
    "header header header"
    "main sidebar-1 sidebar-2"
    "footer footer footer";
  grid-gap: 10px;
  height: 500px;
  margin: 0;
  grid-template-rows: 50px 100px 100px;
  grid-template-columns: 40px 400px 40px;
}

.header {
  padding: 20px;
  background-color: aqua;
  grid-area: header;
}

.main {
  padding: 20px;
  background-color: violet;
  grid-area: main;
}

.sidebar1 {
  padding: 20px;
  background-color: rgb(85, 215, 30);
  grid-area: sidebar-1;
  position: relative;
  top: 10px;
}

.sidebar2 {
  padding: 20px;
  grid-area: sidebar-2;
  background-color: orange;
}

.footer {
  padding: 20px;
  grid-area: footer;
  background-color: burlywood;
}
